<div class="max-w-xl mx-auto mt-16">
  <div class="px-6 py-10 text-center border border-gray-200 rounded shadow-lg bg-white-100">
    <h1 class="pt-4 text-2xl font-display">Successfully unsubscribed</h1>
    <p class="mb-6">You will no longer receive updates about <%= @reason %></p>
    <p class="text-sm text-gray-600">You can always opt back in within your <%= link_to "profile settings", edit_user_registration_path, class: "underline" %>.</p>
  </div>
</div>
